<!DOCTYPE html>

<html>

<head>
	<title>추지혜 - 코딩비행사</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
	<link rel="stylesheet" href="static/css/bootstrap.css" />
	<link rel="stylesheet" href="static/css/main.css" />
	<link rel="shortcut icon" href="static/images/favicon.png" />
	​
	<script>
		function save_comment() {
			let formData = new FormData();

			let name = $('#name').val()
			let comment = $('#comment').val()

			formData.append("name_give", name);
			formData.append("comment_give", comment);

			fetch('/guestbook', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {

				alert(data["msg"]);
				window.location.reload();
			});
		}
	</script>

	<style>
		.image img {
			width: auto;
			height: 480px;
			float: left;
		}

		​ .content-section-heading {
			text-align: center;
		}

		h4 {
			text-align: center;
		}

		.panel-body {
			width: auto;
		}

		.profile {
			width: 250px;
			height: 250px;
			margin-bottom: 20px;
		}

		​ p {
			margin: 0 0 1em 0;
		}

		​ iframe {
			width: auto;
			height: 800px;
		}
	</style>
	<noscript>
		<link rel="stylesheet" href="static/css/noscript.css" />
	</noscript>

</head>

<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="inner">

				<!-- Logo -->
				<a href="main" class="logo">
					<span class="symbol"><img src="static/images/logo.png" alt="" /></span><span class="title">Code
						Pilot</span>
				</a>
				​
				<!-- Nav -->
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>
			</div>
		</header>
		​
		<!-- Menu -->
		<nav id="menu">
			<h2>Member</h2>
			<ul>
				<li><a href="main">Home</a></li>
				<li><a href="member-1">임호중</a></li>
				<li><a href="member-2">최혜원</a></li>
				<li><a href="member-3">양소영</a></li>
				<li><a href="member-4">추지혜</a></li>
				<li><a href="generic.html">안정모</a></li>
				<li><a href="comment">방명록</a></li>
			</ul>
		</nav>
		​
		<!-- Main -->
		<div id="main">
			<div class="inner">
				<h1>추지혜</h1>
				<div class="image row mt-3">
					<img src="static/images/jihye01.jpg" />
					<img src="static/images/jihye02.jpg" />
					<img src="static/images/jihye03.jpg" />
				</div>
				<hr />
				<br />
				<div class="panel panel-primary">
					<!-- body -->
					<div class="panel-body">
						<div class="container">
							<div class="content-section-heading">
								<h3 class="text-secondary">내가 궁금해? 널 위해 준비했어</h3>
								<h2>추지혜 설명서</h2>
							</div>
							<div class="row">
								<div class="col-lg-3 col-md-6 mt-5 mb-5 mb-lg-0">
									<img class="profile" src="static/images/jihye3d01.jpg" />
									<h4>
										<strong>내정보</strong>
									</h4>
									<hr />
									<ul class="list-group">
										<li class="list-group-item">이름 : 추지혜</li>
										<li class="list-group-item">성별 : 여</li>
										<li class="list-group-item">생년월일 : 1999.09.15</li>
										<li class="list-group-item">전화번호 : 비-밀</li>
										<li class="list-group-item">포지션 : 팀원</li>
									</ul>
								</div>
								<div class="col-lg-3 col-md-6 mt-5 mb-5 mb-lg-0">
									<img class="profile" src="static/images/jihye3d02.jpg" />
									<h4>
										<strong>좋아하는 것들</strong>
									</h4>
									<hr />
									<ul class="list-group">
										<li class="list-group-item">munsic is my life</li>
										<li class="list-group-item">산과 바다</li>
										<li class="list-group-item">넷플릭스</li>
										<li class="list-group-item">카페</li>
										<li class="list-group-item">여유로운 시간</li>
									</ul>
								</div>
								<div class="col-lg-3 col-md-6 mt-5 mb-5 mb-md-0">
									<img class="profile" src="static/images/jihye3d03.jpg" />
									<h4>
										<strong>싫어하는 것들</strong>
									</h4>
									<hr />
									<ul class="list-group">
										<li class="list-group-item">무례한 사람</li>
										<li class="list-group-item">벌레</li>
										<li class="list-group-item">무기력한 무언가</li>
										<li class="list-group-item">습한 날씨</li>
										<li class="list-group-item">더러운 환경</li>
									</ul>
								</div>
								<div class="col-lg-3 mt-5 col-md-6">
									<img class="profile" src="static/images/jihye3d04.jpg" />
									<h4>
										<strong>TMI</strong>
									</h4>
									<hr />
									<ul class="list-group">
										<li class="list-group-item">MBTI: INTJ</li>
										<li class="list-group-item">나는야 취미 부자</li>
										<li class="list-group-item">강아지 키워요</li>
										<li class="list-group-item">영화관 좋아해요</li>
										<li class="list-group-item">잠이 많아요</li>
									</ul>
								</div>
							</div>
						</div>
						<hr />
						<br />
						<div class="content-section-heading">
							<h3 class="text-secondary">
								요즘 잘 듣고 있는 노래야🎵 <br />
								꼭 들어봐!
							</h3>
							<h2>Pink Sweat$ - Honesty</h2>
						</div>
						<iframe src="https://www.youtube.com/embed/L1Ja6Y8GvY8" title="YouTube video player"
							frameborder="0" style="height: 350px; width: 700px;"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
		​
		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<section>
					<h2>보내실 말씀</h2>
					<div class="mypost">
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="name" />
							<label for="floatingInput">이름</label>
						</div>
						<div class="form-floating">
							<input type="text" class="form-control" id="comment" />
							<label for="floatingTextarea2">응원댓글</label>
						</div>
						<button onclick="save_comment()" type="button" class="btn btn-dark">
							방명록 남기기
						</button>
					</div>
				</section>
				​
				<ul class="copyright">
					<li>&copy; Untitled. All rights reserved</li>
					<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</div>
		</footer>
	</div>
	​
	<!-- Scripts -->
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/browser.min.js"></script>
	<script src="static/js/breakpoints.min.js"></script>
	<script src="static/js/util.js"></script>
	<script src="static/js/main.js"></script>
</body>

</html>